@model SupplierListPageViewModel
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminLayout";
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("Xrms.Admin.Catalog.Suppliers.List.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Suppliers");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Xrms.Admin.Catalog.Suppliers.List.Title")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_supplier_list_buttons" })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchModel.SearchSupplierName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchModel.SearchSupplierName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-groups" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="suppliers-grid"></div>

                    <script type="text/javascript">
                            $(document).ready(function() {
                                $("#suppliers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Supplier"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [
                                        {
                                            field: "Name",
                                            title: "@T("Xrms.Admin.Catalog.Suppliers.Fields.Name")"
                                        }, {
                                            field: "Description",
                                            title: "@T("Xrms.Admin.Catalog.Suppliers.Fields.Description")",
                                            template: "#=Description#"
                                        }, {
                                            field: "DisplayOrder",
                                            title: "@T("Xrms.Admin.Catalog.Suppliers.Fields.DisplayOrder")",
                                            width: 150
                                        }, {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 100,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                });
                            });
                    </script>

                    <script type="text/javascript">
                            $(document).ready(function() {
                                //search button
                                $('#search-groups').click(function() {
                                    //search
                                    var grid = $('#suppliers-grid').data('kendoGrid');
                                    grid.dataSource.page(1); //new search. Set page size to 1
                                    //grid.dataSource.read(); we already loaded the grid above using "page" function
                                    return false;
                                });

                                $("#@Html.IdFor(model => model.SearchModel.SearchSupplierName)").keydown(function(event) {
                                    if (event.keyCode == 13) {
                                        $("#search-groups").click();
                                        return false;
                                    }
                                });
                            });

                            function additionalData() {
                                var data = {
                                    SearchSupplierName: $('#@Html.IdFor(model => model.SearchModel.SearchSupplierName)').val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>