@model ProductModel
@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}
<div class="panel-group">
    @if (Model.Id > 0)
    {
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="product-recipe-grid"></div>

            <script type="text/javascript">
                    $(document).ready(function() {
                        $("#product-recipe-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductRecipes", "ProductExtension"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: function() {
                                            var data = {
                                                ProductId: '@(Model.Id)'
                                            };
                                            addAntiForgeryToken(data);
                                            return data;
                                        }
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("UpdateProductRecipe", "ProductExtension"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("DeleteProductRecipe", "ProductExtension"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Unit: { editable: false, type: "string" },
                                            Name: { editable: false, type: "string" },
                                            Quantity: { editable: true, type: "number" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            Id: { editable: false, type: "number" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)],
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "DisplayOrder",
                                    title: "@T("Xrms.Admin.Catalog.ProductRecipes.Fields.DisplayOrder")",

                                    //integer format
                                    format: "{0:0}",
                                    width: 150
                                }, {
                                    field: "Name",
                                    title: "@T("Xrms.Admin.Catalog.ProductRecipes.Fields.Name")"
                                }, {
                                    field: "Quantity",
                                    title: "@T("Xrms.Admin.Catalog.ProductRecipes.Fields.Quantity")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 150
                                }, {
                                    field: "Unit",
                                    title: "@T("Xrms.Admin.Catalog.ProductRecipes.Fields.Unit")",
                                    width: 100
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Material/Edit/")#=MaterialId#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }, {
                                    command: [
                                        {
                                            name: "edit",
                                            text: {
                                                edit: "@T("Admin.Common.Edit")",
                                                update: "@T("Admin.Common.Update")",
                                                cancel: "@T("Admin.Common.Cancel")"
                                            }
                                        }, {
                                            name: "destroy",
                                            text: "@T("Admin.Common.Delete")"
                                        }
                                    ],
                                    width: 100
                                }
                            ]
                        });
                    });
            </script>
        </div>

        <div class="panel-footer">
            <button type="submit" id="btnAddNewMaterial"
                    onclick="javascript:OpenWindow('@(Url.Action("AddProductRecipesPopup", "ProductExtension", new {productId = Model.Id, btnId = "btnRefreshProductRecipes", formId = "product-form"}))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Xrms.Admin.Catalog.Products.Details.Tabs.ProductRecipes.Buttons.AddRecipes")
            </button>
            <input type="submit" id="btnRefreshProductRecipes" style="display: none"/>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshProductRecipes').click(function () {
                        //refresh grid
                        var grid = $("#product-recipe-grid").data('kendoGrid');
                        grid.dataSource.read();

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    </div>
    }
    else
    {
    <div class="panel panel-default">
        <div class="panel-body">
            @T("Xrms.Admin.Catalog.Products.Details.Tabs.ProductRecipes.Hints.SaveBeforeEdit")
        </div>
    </div>
    }
</div>